:root {
    --maincolor: #111;
    --subcolor: #666;
    --border-color: #999;
    --fontcolor: #ccc;

    --border-thicc: 1px;
    --border-curve: 3px;

    --impcolor-blu: #00bff3;
    --impcolor-red: #f44;

    --customco-1: #ccc;
    --customco-2: #f70;
    --customco-3: #00bff3;
}

*:not(.check-red, img, .has-unread) {
    border-color: var(--border-color) !important;
    border-width: var(--border-thicc) !important;
    /*stroke: var(--border-color);*/
}


body, body.darkmode, .user-stat, .user-stats, .home-create-btns, .base-options, .check-red, .com, .c-new-btn-wrap, .stream-description, #base-panel, #page, #img-coms, #img-main, #img-primary, #img-secondary, #c-area, #c-new-main, #img-coms-header, #home-page {
    background: var(--maincolor) !important;
    color: var(--fontcolor) !important;
}


textarea, div:not(.ico, .ico-pixel, .ico-pixel-btn, .mm-preview, .make-icon-demo, .color-box, .com, .user-stats, .user-stat, .drag-box, .base-options, .stream-description, .c-new-btn-wrap, .img-coms-header, .img-coms, .c-new-text, .color-btn, .img-flag-top, .img-flag-bottom), button:not(.check-red, .ico-color-btn, .c-reply, .c-flag, .c-delete, .c-img-link), #done, .nt-not, .ibox, .clearfix, .login-box, .c-right, .i-select-dropdown, .user-com, .shr-popup, .BOX, .menu, .pager-next-l-but, .home-img, .recaption.l.but, #chat-main, #chat-list, #base-left, #panel-back, #footer {
    background: var(--subcolor) !important;
    color: var(--fontcolor) !important;
}

.nt-new, .chat.unread, .mm-search-result-text:hover {
    background: var(--maincolor) !important;
}

.img-tag {
    background: var(--fontcolor) !important;
    color: var(--maincolor) !important;
    border: 1px solid var(--border-color);
}

.c-img-link, .a/*, a:not(#u-menu a):not(.nt-not *):not(.nt-not):not(.has-unread)*/ {
    background: var(--subcolor) !important;
    color: var(--impcolor-blu) !important;
}

.check-red {
    color: var(--impcolor-red) !important;
}

.img-flag-top, .img-flag-bottom {
    background: var(--border-color) !important;
}

.lr.but.sml {
    color: var(--impcolor-red) !important;
    border: var(--border-thicc) solid var(--impcolor-red) !important;
}

.user-unfollow-btn.lb.but.sml, .more-toggle.lb.but.sml, .lb.but.sml.user-see-all-btn, .user-edit-btn.lb.but.sml, .stream-unfollow-btn.lb.but {
    color: var(--impcolor-blu) !important;
    border: var(--border-thicc) solid var(--impcolor-blu) !important;
    background: var(--subcolor) !important;
}
.user-follow-btn.b.but.sml {
    background: var(--impcolor-blu) !important;
    color: var(--fontcolor) !important;
    border: var(--border-thicc) solid var(--impcolor-blue) !important;
}

.c-img-owner {
    color: var(--impcolor-blu) !important;
}
.c-mod-stream {
    color: var(--impcolor-blu) !important;  
}


#u-msgs-btn.has-unread svg .make-icon-demo{
    stroke: var(--impcolor-blu) !important;
}
#nt-count.has-nots {
    color: var(--impcolor-blu) !important;
    border-color: var(--impcolor-blu) !important;
}

.mask-back {
    background: #000;
}

.c-linked .c-right {
    border-color: var(--impcolor-blu) !important;
    color: var(--impcolor-blu) !important;
}

.img-author .u-username {
    border-color: var(--impcolor-blu) !important;
    color: var(--impcolor-blu) !important;
}

.-up.set:after {
    border-bottom-color: var(--impcolor-blu);
}
.-up.set:before {
    background: var(--impcolor-blu);
}
.-down.set:after {
    border-top-color: var(--impcolor-red);
}
.-down.set:before {
    background: var(--impcolor-red);
}

.ico-color-1 {
    background: var(--customco-1) !important;
}
.ico-color-2 {
    background: var(--customco-2) !important;
}
.ico-pixel.ico-color-3 {
    background: var(--customco-3) !important;
}

#flip-box {
    background: var(--subcolor) !important;
}
.base-latest.on{
    background: var(--customco-3) !important;
}
.base-hot, .base-top {
    background: var(--subcolor) !important;
}
.base-hot.on{
    background: var(--customco-2) !important;
}.base-latest:hover{
    background: var(--customco-3) !important;
}
.base-hot:hover{
    background: var(--customco-2) !important;
}
.base-top:hover{
    background: var(--customco-1) !important;
}


#footer-nav a {
    color: var(--border-color) !important;
}

.fav-star {
    stroke: var(--subcolor);
}
.fav-star.set {
    stroke: var(--impcolor-blu) !important;
    fill: var(--impcolor-blu) !important;
}
