#flip-box {
    height: 50px;
    width: 300px; 
    margin:auto; 
    text-align: center;

    padding: 5px;

    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.flip-btn {
    width: 50px;
    height: 45px;
    background: none !important;
    border: none !important;
}
.flip-btn.rand {
    width: 100px;
}



.darkmode #flip-box {
    background: #333;
    border: 2px solid #666;
}
